.header-image{

    background-image: url("../../public/image/abhija4.jpg");
    margin-top: 8rem;
    width: 100%;
    height: 40em;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header-image h1{
    text-align: center;
    font: 300;
    font-size: 6rem;
    line-height: 6rem;
    margin: 0 25%;
    color: white;
}

@media screen and (max-width: 780px) {
    .header-image{
        width: 100vw;
    }
    .header-image h1{
        text-align: center;
        font: 200;
        font-size: 4rem;
        line-height: 3rem;
        margin: 0 25%;
        color: white;
    }
  }