.header{
    background-color: #07a1bc;
}
.nav{
    height: 8rem;
    justify-content: space-between;
    background-color: white;    
}

.flex{
    display: flex;
    justify-content: space-between;
    padding-top: 0.6em;
}

.nav-items h1{
    color: #00aff5;
    font: bold;
    padding-right: 1.5em;
    padding-top: 0.5em;
}

.container{
    padding:0 15em;
}

.nav-items h1:hover{
    color: #07a1bc;
}

.icons{
    font-size: 2.5em;
    margin-top: 0.3em;
    margin-right: 0.2em;
    color:#00aff5 ;
}
.flex img{
    width:4.5em;
    height: 3.5em;
    margin-top: 1.5em;
}
.nav-items .user-icon{
    font-size: 4em;
    padding: 0.2em;
    border-radius: 50%;
    color: #00aff5;
    background-color: rgb(179, 226, 244);
}
.icons2{
    font-size: 4em;
    padding: 0.2em 0.2em;
    color:grey;
    font-weight: bold;
}

.true{
    transition: 0.2s ease-in-out;
    transform: rotate(180deg);
}

@media screen and (max-width: 780px){
    .flex {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }
    img{
        display: none;
    }
}