.form div{
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50% , -50%);
    padding: 0.5em 2em;
    border-radius: 15px;
    background-color: white;
}

.form input {
    height: 2em;
    padding: 0.4em;
    border-left: none;
    border-bottom: none;
    border-top: none;
    margin: 0 1.5em;
}
.form input:nth-last-child(1) {
    border-right: none;
    width: 5em;
    margin: 0;
}
.form input:focus {
 border: none;
}
.form button{
    position: absolute;
    top: 47%;
    left: 73.5%;
    transform: translate(-50% , -50%); 
    display: inline-block;
    height: 3.58em;
    border: none;
    background-color: #00aff5;
    width: 10em;
    border-left: none;
    color: white;
    border-top-right-radius:15px ;
    border-bottom-right-radius :15px
}
.form .icons1 {
    position: absolute;
    font-size: 2.5em;
    color: gray;
    margin-top: 0.2em;
    margin-left: -0.2em;
}
.form .icons{
    position: absolute;
    font-size: 2em;
    color: gray;
    margin-top: 0.3em;
    margin-left: -0.7em;
}
.form input:focus{
    outline: none;
    border-right: 2px solid gray;
}